* {
    margin: 0;
    padding: 0
}

body {
    background-color: #c4c4c4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    color:deepskyblue;
    font-size: 50px;
   
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color:darkslategray;
    padding: 12px 20px 12px 40px;
    color: rgb(95, 95, 95);
}

#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color:dodgerblue;
}
table th{
    color: black ;
}
tbody{
    color:blue;
}
h1{
    color: deepskyblue;
}